[Desktop Entry]
Encoding=UTF-8
Name=Link to Publications Acknowledging Odyssey - RESEARCH COMPUTING
Type=Link
URL=https://rc.fas.harvard.edu/odyssey/publications-citing-odyssey/
Icon=text-html
Name[en_US]=Acknowledging Odyssey
